.Movies {
  padding: 13px 36px 18px 36px;
}

.MovieView {
  width: 1010px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

@media (max-width: 1016px) {
  .MovieView {
    max-width: 455px;
  }
}

.ant-tabs-top > .ant-tabs-nav {
  max-width: 146px;
  margin: 0;
}

.ant-tabs {
  display: flex;
  align-items: center;
  gap: 20px;
}
